[submodule "lib/CompCert"]
	path = lib/CompCert
	url = https://github.com/AbsInt/CompCert.git
[submodule "lib/paco"]
	path = lib/paco
	url = https://github.com/vzaliva/paco
[submodule "lib/coq2html"]
	path = lib/coq2html
	url = https://github.com/xavierleroy/coq2html.git
[submodule "lib/InteractionTrees"]
	path = lib/InteractionTrees
	url = https://github.com/DeepSpec/InteractionTrees.git
