**/#*#
**/a.out
**.s
**.vo
**.vos
**.vio
**.vok
**.v.d
**.glob
*.v#
**.cmo
**.cmi
**.cmx
**.null
**/_build
src/main.native
src/vellvm
src/vellvmqc
src/frontend
**/.merlin
*~
*.v~
*.log
*.aux
*.stackdump
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.ml~
examples.mli
*.gz
src/ml/extracted/*
!src/ml/extracted/Extract.v
src/.depend
output
src/ml/extracted/.merlin
src/ml/libvellvm/.merlin
.lia.cache
src/.ll_files.tmp
src/coq/.lia.cache
*.cache
*.DS_Store
*a.out
lib/.FLOCQQUICKCHICK_STAMP
lib/.QUICKCHICK_STAMP

CoqMakefile
.CoqMakefile.d
CoqMakefile.conf
RocqMakefile
.RocqMakefile.d
RocqMakefile.conf
.#*