**.s
**.vo
**.vos
**.vio
**.vok
**.v.d
**.glob
*.v#
**.cmo
**.cmi
**.cmx
**.null
**/_build
src/main.native
src/vellvm
**/.merlin
*~
*.v~
*.log
*.aux
*.stackdump
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.ml~
examples.mli
*.gz
src/ml/extracted/*.ml
src/ml/extracted/*.mli
src/ml/extracted/STAMP
src/.depend
output
src/ml/extracted/.merlin
src/ml/libvellvm/.merlin
.lia.cache
src/.ll_files.tmp
src/coq/.lia.cache
*.cache
